<h2 class="color-text">Servicios</h2>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset 2">
    <br>
    <form [formGroup]="servicioForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <input type="hidden" id="_id" formControlName="_id">
          <label class="color-text" for="servico">Servicio</label>
          <i class="fa fa-check-circle check" *ngIf="servicioForm.controls.nombre.valid" style="color: green;"></i>
          <i class="fa fa-exclamation-circle uncheck" style="color:red; "*ngIf="servicioForm.controls.nombre.invalid &&  servicioForm.controls.nombre.touched"></i>
          <input type="text" class="form-control" id="servicio" formControlName="nombre">
        </div>

        <div class="form-group">
            <label class="color-text" for="porcentaje">Porcentaje de cobro</label>
            <i class="fa fa-check-circle check" *ngIf="servicioForm.controls.porcentaje.valid" style="color: green;"></i>
            <i class="fa fa-exclamation-circle uncheck" style="color:red; "*ngIf="servicioForm.controls.porcentaje.invalid && servicioForm.controls.porcentaje.touched"></i>
            <input type="number" class="form-control" id="porcentaje" formControlName="porcentaje">
          </div>

          <div class="form-group">
             <label class="color-text">Status</label>
             <i class="fa fa-check-circle check" *ngIf="servicioForm.controls.status.valid"></i>
             <i class="fa fa-exclamation-circle uncheck" *ngIf="servicioForm.controls.status.invalid && servicioForm.controls.status.touched"></i>
               <select class="form-control form-control-lg" formControlName="status">
                   <option>Activo</option>
                   <option>Inactivo</option>
               </select>

           </div>
           <br>
           <br>
           <div class="form-group">
           <button [disabled]="!servicioForm.valid" type="submit" class="btn btn-outline-primary btn-lg">Guardar</button>
           <button (click)="funciones.resetForm(servicioForm);" class="btn btn-lg  btn-outline-warning pull-right">Limpiar</button>
         </div>
         <br>
         <div class="alert alert-success" *ngIf="mensaje.mensaje" role="alert">
         {{mensaje.mensaje}}
         </div>
    </form>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-sm-offset-1 col-md-offset 2">
      <br>

      <div class="table-responsive">   
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Porcentaje de cobro</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servicio of servicioService.servicios" >
                <th scope="row" [ngClass]="{'color-activo': servicio.status == 'Activo', 'color-inactivo': servicio.status=='Inactivo'}">{{servicio.nombre}}</th>
                <td>{{servicio.porcentaje}}</td>

                <td><button (click)="editServicio(servicio)" class="btn btn-info"><i class="material-icons">edit</i></button></td>
              </tr>
              
            
            </tbody>
          </table>
          </div>
    </div>
</div>
