<div class="container">
  <div class="row div-sombreado">
    <div class="col-sm-10 col-md-10 col-xs-10 offset-sm-1">
      <h2 class="color-text alinear-texto">Rastreo</h2>
      <br>
      <br>
      <div class="form-group">
          <label class="color-text">No.Guia</label>
          <input class="form-control form-control-lg" >
        </div>
       
        <button class="btn btn-outline-primary btn-block">Rastrear</button>
        <br>
        <br>
        <hr>
        <div class="container">
        <div class="row">
          <div class="col-sm-10 col-md-10 col-xs-10">
              
                  <div class="form-group">
                      <label class="color-text">Guia</label>
                      <input type="text" class="form-control form-control-lg" disabled>
                  </div>
              
              <div class="row">
                <div class="form-group col-md-4">
                  <label class="color-text">Origen</label>
                  <input type="text" class="form-control form-control-lg" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label class="color-text">Destino</label>
                    <input type="text" class="form-control form-control-lg" disabled>
                  </div>
                  <div class="form-group col-md-4">
                      <label class="color-text">CP Destino</label>
                      <input type="text" class="form-control form-control-lg" disabled>
                    </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <label class="color-text">Fecha de recolección</label>
                    <input type="text" class="form-control form-control-lg" disabled>
                  </div>
                  <div class="form-group col-md-4">
                      <label class="color-text">Fecha estimada de entrega</label>
                      <input type="text" class="form-control form-control-lg" disabled>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="color-text">Fecha de entrega</label>
                        <input type="text" class="form-control form-control-lg" disabled>
                      </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                      <label class="color-text">Servicios</label>
                      <input type="text" class="form-control form-control-lg" disabled>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="color-text">Tipo de envío</label>
                        <input type="text" class="form-control form-control-lg" disabled>
                      </div>
                    <div class="form-group col-md-3">
                        <label class="color-text">Status</label>
                        <input type="text" class="form-control form-control-lg" disabled>
                      </div>
                     
                  </div>
          </div>
          <hr>
          <div class="col-sm-2 col-md-2 col-xs-2">
              <div class="form-group">
                <label class="color-text">Tipo de paquete</label>
                <input type="text" class="form-control form-control-lg" disabled>
              </div>
              <div class="form-group">
                  <label class="color-text">Cantidad</label>
                  <input type="text" class="form-control form-control-lg" disabled>
                </div>
                <div class="form-group">
                    <label class="color-text">Peso</label>
                    <input type="text" class="form-control form-control-lg" disabled>
                  </div>
                  <div class="form-group">
                      <label class="color-text">Volumen</label>
                      <input type="text" class="form-control form-control-lg" disabled>
                    </div>
            </div>
        </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th  scope="col">Fecha y hora</th>
                    <th  scope="col" class="headers">Lugar</th>
                    <th  scope="col"class="headers">Comentarios</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                
                </tbody>
              </table>
            </div>
        
         
          

    </div>
  </div>
</div>